.form-contact h2 {
    font-size: 45px;
}

.form-contact h1 {
    font-size: 60px;
}

.form-contact p {
    text-align: justify;
}

.line {
    width: 100;
    height: 1px;
    background-color: black;
}

input {
    border-radius: 20px !important;
    border: 1px solid black !important;
}

textarea {
    border-radius: 20px !important;
    border: 1px solid black !important;
}

.contact-card {
    background-color: #c6d1af;
    border-radius: 35px;
    padding: 20px;
    max-width: 100%;
    margin: auto;
    border: 1px solid black;
}
.contact-item {
    background-color: #ffffff;
    border-radius: 50px;
    padding: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid black;
    margin-left: 15px;
    margin-right: 15px;
}
.contact-item:last-child {
    margin-bottom: 0;
}
.contact-img {
    font-size: 24px;
    margin-right: 15px;
}
.contact-text {
    font-size: 16px;
}
.contact-text strong {
    font-weight: 800;
}

.button-submit button {
    padding-left: 70px;
    padding-right: 70px;
    background-color: #0f4235;
    border-radius: 30px;
}

.button-submit button:hover {
    padding-left: 70px;
    padding-right: 70px;
    background-color: #0f4235;
    border-radius: 30px;
    box-shadow: 2px 4px 6px rgba(168, 168, 168, 0.9);
}

.button-submit button:active {
    background-color: white !important;
    color: #0f4235 !important;
    border-radius: 30px;
    box-shadow: 2px 4px 6px rgba(168, 168, 168, 0.9);
}

.required {
    color: red;
}
