html {
    scrollbar-width: none; /* Firefox */
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}


.line1-text1{
    font-size: 55px;
}

.line1-text2{
    font-size: 55px;
}

.line2-text1{
    font-size: 55px;
}

.power-text{
    font-size: 45px;
}

.cont1{
    background-color: #C6D1AF;
    border-radius: 35px;
    border: 1px solid black;
    box-shadow: 2px 4px 6px rgba(96, 96, 96, 0.9);
}

.take-text{
    font-size: 55px;
    color: #0F4235;
    text-shadow: 0 4px 3px rgba(255, 255, 255, 0.9);
}

.cont1 .span1{
    background-color: #0F4235;
    border-radius: 40px;
    border: 1px solid black;
}

.cont1 .span1:hover{
    background-color: #0F4235;
    border: 1px solid black;
    box-shadow: 2px 4px 6px rgba(255, 255, 255, 0.9);
}

.cont1 .span2{
    background-color: white;
    color: #0F4235;
    border: 1px solid black;
    border-radius: 40px;
}

.cont1 .span2:hover{
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 4px 6px rgba(255, 255, 255, 0.9);
}

.cont2{
    border: 1px solid black;
    border-radius: 40px;
    box-shadow: 2px 4px 6px rgba(96, 96, 96, 0.9);
}

.cont3{
    border: 1px solid black;
    border-radius: 40px;
    box-shadow: 2px 4px 6px rgba(96, 96, 96, 0.9);
}

.tag-1{
    background-color: #C6D1AF;
    color: #0F4235;
    border: 1px solid black;
    border-radius: 20px;
}

.tag-2{
    border: 1px solid black;
    color: #0F4235;
    border-radius: 20px;
}

.img-impact{
    margin-top: 30px;
}

.p-text-save{
    text-align: justify;
    line-height: 1.5;
}

.line {
    width: 5px; /* Lebar garis vertikal */
    height: 65px; /* Panjang garis vertikal sesuai tinggi kontainer */
    background-color: #0F4235; /* Warna garis */
}

.cont-choice{
    border: 1px solid black;
    border-radius: 50px;
    box-shadow: 2px 4px 6px rgba(96, 96, 96, 0.9);
}

.cont-choice .p-indo{
    text-align: justify;
    color: #767676;
}

.cont-choice .row .donation1 p{
    text-align: justify;
}

.title-choice h1{
    font-size: 40px;
    color: #0F4235;
}

.donation1{
    background-color: #C6D1AF;
    border-radius: 30px;
    flex: 0 0 48%; padding: 20px;
}

.volunteer1{
    background-color: #C6D1AF;
    border-radius: 30px;
    flex: 0 0 48%; padding: 20px;
}

.cont-choice .row .volunteer1 p{
    text-align: justify;
}

.cont-works .title-works h1{
    color: #0F4235;
}

.title-content{
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 2px 4px 6px rgba(96, 96, 96, 0.9);
}

.title-content .sub-content{
    background-color: #C6D1AF;
    border-radius: 40px;
    border: 1px solid black;
}

.cont-news .title-news h1{
    color: #0F4235;
}

.single-news .date-news{
    display: inline-block;
    border: 1px solid black;
    border-radius: 20px;
}

.single-news .text-news{
    text-align: justify;
    line-height: 1.3;
    color: #767676;
}

.text-news {
    text-align: justify; /* Make sure the text is justified */
}

.date-news{
    box-shadow: 2px 4px 6px rgba(168, 168, 168, 0.9);
}

.read-more {
    
    text-decoration: none;
    color: black;
}

.read-more:hover {
    background-color: transparent;
    text-shadow: 2px 4px 6px rgba(154, 154, 154, 0.9);
}


.line-news{
    width: 100%; /* Lebar garis vertikal */ /* Panjang garis vertikal sesuai tinggi kontainer */
    height: 3px;
    background-color: black; /* Warna garis */
    margin-bottom: 20px;
    background-color: #C6D1AF;
}

.comment-sect{
    background-color: #0F4235;
}

.cont-comment .title-comment h1{
    color: white;
}

.line2 {
    width: 5px; /* Lebar garis vertikal */
    height: 110px; /* Panjang garis vertikal sesuai tinggi kontainer */
    background-color: white; /* Warna garis */
}

.title-content-comment h4{
    text-align: justify;
    color: #0F4235;
}

.horizontal-scroll{
    height: 500px; /* Tinggi kontainer */
    overflow-y: auto;
    scrollbar-width: none;
}

.horizontal-scroll::-webkit-scrollbar{
    display: none;
}

.cont-scroll1{
    background-color: #C6D1AF;
    text-align: justify;
    border-radius: 20px;
    color: #0F4235;
}

.cont-scroll1 span{
    color: #0F4235;
}

.cont-scroll2{
    background-color: white;
    text-align: justify;
    border-radius: 20px;
    color: #0F4235;
}

.cont-scroll2 span{
    color: #0F4235;
}

.container-carousel{
    background-color: white;
    border-radius: 30px;
}

.bottom-comment{
    background-color: white;
    border-radius: 60px;
}

.bottom-comment h1{
    font-size: 40px;
}

.bottom-comment p{
    background-color: #C6D1AF;
    border-radius: 60px;
    border: 1px solid black;
    color: #0F4235;
}

.bottom-comment a{
    text-decoration: none;
}

.cont-news .p-our{
    color: #8E8E8E;
}

.accordion-body{
    text-align: justify;
}


/* Tambahkan border-radius ke setiap accordion item */
.accordion-item {
    margin-bottom: 10px; /* Gap antar accordion */
    border-radius: 10px;
    overflow: hidden; /* Untuk mencegah konten keluar dari border-radius */
    border: 1px solid black !important /* Warna border */
}

/* Style untuk tombol accordion */
.accordion-button {
    border-radius: 0; /* Reset border radius */
    background-color: #f8f9fa; /* Default warna tombol */
    transition: background-color 0.3s ease, color 0.3s ease; /* Animasi transisi */
}

/* State open */
.accordion-button:not(.collapsed) {
    background-color: white  !important; /* Warna ketika open */
    color: #fff; /* Warna teks */
}

/* State close */
.accordion-button.collapsed {
    background-color: #C6D1AF; /* Warna ketika close */
    color: #000; /* Warna teks */
}

/* Tambahkan border-radius ke tombol pertama dan terakhir */
.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* Hapus efek biru bawaan Bootstrap */
.accordion-button:focus {
    box-shadow: none !important; /* Pastikan box-shadow hilang */
    outline: none !important; /* Pastikan outline juga hilang */
}

.accordion-collapse.show {
    background-color: white; /* Warna background body */
    color: #000; /* Warna teks */
}





