.cont-become-partner h1{
    font-size: 60px;
}

.cont-become-partner p{
    text-align: justify;
}

.how-it-works ol{
    text-align: justify;
    line-height: 1.3;
}

.line{
    width: 100; /* Lebar garis vertikal */
    height: 1px; /* Panjang garis vertikal sesuai tinggi kontainer */
    background-color: black; /* Warna garis */
}

.form-group label {
    flex: 1;
    margin-right: 10px;
}

.required {
    color: red;
}

.form-control {
    border-radius: 20px !important; /* Ganti border radius */
    border: 1px solid black !important; /* Ganti warna border */
}


.checkbox-custom{
    min-width: 30px;
    min-height: 30px;
    accent-color: black;
}

.btn-submit-reg button{
    background-color: #0F4235;
    border-radius: 40px;
}

.btn-submit-reg button:hover{
    background-color: #0F4235;
    border-radius: 40px;
    box-shadow: 2px 4px 6px rgba(168, 168, 168, 0.9);
}

.swal2-html-container ul {
    text-align: left; /* Mengatur hanya <ul> yang rata kiri */
    list-style-position: inside; /* Bullet point di dalam list */
    padding-left: 20px; /* Memberikan padding kiri agar rapi */
}




